@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/*=============== BASE ===============*/
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 3rem 0 0 0;
  font-family: 'Poppins', sans-serif;
  font-size: .938rem;
  background-color: hsl(45, 0%, 100%);
  color: hsl(45, 4%, 35%);
  transition: .5s;
}

h1,
h2,
h3 {
  font-weight: 600;
  color: hsl(45, 4%, 15%);
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  --first-color-light: hsl(45, 98%, 75%);
  --title-color: hsl(45, 4%, 95%);
  --text-color: hsl(45, 4%, 80%);
  --body-color: hsl(45, 8%, 13%);
  --container-color: hsl(45, 8%, 16%);
  --scroll-bar-color: hsl(45, 4%, 32%);
  --scroll-thumb-color: hsl(45, 4%, 24%);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4.5rem 0 1rem;
}

.section__title,
.section__title-center {
  font-size: 1.25rem;
  color: hsl(45, 4%, 15%);
  text-align: center;
  margin-bottom: 1rem;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*=============== HEADER ===============*/
.header {
  width: 100%;
  background-color: hsl(45, 0%, 100%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: .5s;
}

.disable-select {
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

/*=============== NAV ===============*/
.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: #FFF;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    padding: 2.5rem 0;
    width: 90%;
    top: -100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: .4s;
    border-radius: 2rem;
    z-index: 100;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}

.nav__link,
.nav__logo,
.nav__toggle {
  color: hsl(45, 4%, 15%);
  font-weight: 600;
}

.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  top: calc(3rem + 1rem);
}

/* Active link */
.active-link {
  position: relative;
}

.active-link::before {
  content: '';
  position: absolute;
  bottom: -.75rem;
  left: 0%;
  width: 100px;
  height: 5px;
  background-color: #ff3d3d;
}

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

/*=============== HOME ===============*/
.home__container {
  row-gap: 3rem;
}

.home__title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  width: 1000px;
}

/*=============== HOOFDVRAAG ===============*/
.hoofdvraag_left__container {
  gap: 2.5rem;
}

.hoofdvraag_left__data {
  text-align: center;
}

.hoofdvraag_right__container {
  gap: 2.5rem;
}

.hoofdvraag_right__data {
  text-align: center;
}

/*=============== FOOTER ===============*/

.footer {
  height: 10px;
  background-color: #fff;
}

.footer__text {
  text-align: center;
  font-size: .75rem;
  color: hsl(45, 4%, 35%);
}

/*=============== SCROLL BAR ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* custom scroll bar */
:root {
  --bot: #ff3333;
  --alternate-bot-text-color: #1c1c1c;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #ff3333;
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 15px;
  background: #ff5b5b;
  transition: .4s;
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
@media screen and (max-width: 360px) {
  .section {
    padding: 3.5rem 0 1rem;
  }

  .home__title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    width: 10px;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 375px) {
  .section {
    padding: 3.5rem 0 1rem;
  }

  .home__title {
    font-size: 25px;
    text-align: left;
    width: 350px;
    text-align: center;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}


/* For medium devices */
@media screen and (min-width: 576px) {
  .section__title-center {
    text-align: initial;
  }

  .home__container,
  .hoofdvraag_left__container,
  .hoofdvraag_right__container,
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .home__img {
    order: 1;
  }

  .home__container,
  .hoofdvraag_left__container,
  .hoofdvraag_right__container {
    align-items: center;
  }

  .hoofdvraag_left__data,
  .hoofdvraag_right__data,
  .contact__description {
    text-align: initial;
  }

  .hoofdvraag_left__img {
    order: -1;
  }

  .home__title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    width: 10px;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }

  .section {
    padding: 6rem 0 2rem;
  }

  .nav {
    height: calc(3rem + 1.5rem);
  }

  .nav__list {
    flex-direction: row;
    column-gap: 2.5rem;
  }

  .nav__toggle {
    display: none;
  }

  .home__container {
    padding: 6rem 0 2rem;
  }
}

/* For large devices */
@media screen and (min-width: 968px) {
  .button__header {
    display: block;
  }

  .svg__img {
    width: 470px;
  }

  .hoofdvraag_left__container,
  .hoofdvraag_right__container,
  .app__container,
  .contact__container {
    column-gap: 6rem;
  }

  .services__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .contact__container {
    grid-template-columns: 3fr 1.5fr 1.25fr;
  }

  .footer__container {
    grid-template-columns: repeat(5, 1fr);
  }

  .footer__social {
    align-items: flex-start;
  }

  .footer__social-link {
    font-size: 1.45rem;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .home__img {
    width: 540px;
  }

  .home__description {
    padding-right: 5rem;
  }

  .footer__container {
    column-gap: 3rem;
  }

  .home__title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    width: 1000px;
  }

  img {
    max-width: 70%;
    height: auto;
  }
}

html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}